<!--
<div class="main">
	<div class="container">
		<div ng-repeat="comment in comments | orderBy: '-upvotes'">
			<h1>{{comment.body}}</h1>
			<p><span class="glyphicon glyphicon-plus-sign" ng-click="upVote(comment, $index)"></span> Upvotes: {{comment.upvotes}}</p>
	</div>
</div>
<form ng-submit="addComment()" style="margin-top: 50px">
	<h3> Add Your Comment </h3>
	<div class="form-group">
	<input type="text" class="form-control" placeholder="Comment here" ng-model="comment"></input>
	</div>
	<button type="submit" class="btn btn-primary">Comment</button>
</form>
-->
<div class="main">
	<div class="container">
		<div ng-repeat="comment in post.comments | orderBy: '-upvotes'">
			<h1>{{comment.body}}</h1>
			<p><span class="glyphicon glyphicon-plus-sign" ng-click="upVote(comment)"></span> Upvotes: {{comment.upvotes}}</p>
	</div>
</div>
<form ng-submit="addComment()" style="margin-top: 50px">
	<h3> Add Your Comment </h3>
	<div class="form-group">
	<input type="text" class="form-control" placeholder="Comment here" ng-model="comment"></input>
	</div>
	<button type="submit" class="btn btn-primary">Comment</button>
</form>


<!--
<div class="comment" ng-repeat="comment in post.comments | orderBy:'-upvotes'">
    <span class="glyphicon glyphicon-plus-sign" ng-click="upVote(comment)"></span> {{comment.upvotes}}
    <span class="comment-body">
      {{comment.body}}
    </span>
</div>
-->



